rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isValidString(val, maxLen) {
      return val is string && val.size() <= maxLen;
    }

    match /orders/{orderId} {
      allow read, create, update: if true;
    }

    match /customers/{customerId} {
      allow read, write: if true;
    }

    match /custom_requests/{requestId} {
      allow read, create, update: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
